body{
  margin: 0;
  font-family: arial;
  color: #575757;
}

h1 span{
  color: #FB5C5C;
}

h1{
  font-weight: normal;
  font-size: 25px;
}

header nav, #other{
  display: none;
}

header figure{
  width: 30px;
}

header img{
  width: 30px;
}

input{
  height: 50px;
  padding: 15px;
  width: 100%;
}

.container{
  width: 90%;
  margin: auto;
}

h2{
  font-size: 18px;
  margin-top: 10%;
}

.bot, .bot3{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.bot2{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.dont, .bot article:nth-child(3), .bot article:nth-child(4),
.bot2 article:nth-child(2), .bot2 article:nth-child(3),
.bot3 article:nth-child(4),
.bot3 article:nth-child(5),
.bot3 article:nth-child(6){
  display: none;
}

.bot figure, .bot2 figure, .bot3 figure{
  width: 100%;
  margin: 0;
}

.bot img{
  width: 100%;
}

.bot2 img{
  width: 100%;
}

.bot3 img {
  width: 100%;
}

.last img{
  width: 100%;
}

.last figure{
  width: 100%;
  margin: 0;
}

.bot p, .bot2 p, .bot3 p{
  font-size: 12px;
}

.offerts{
  /*background: orange;*/
  display: flex;
  flex-wrap: wrap;
  margin: 1%;
  width: 45%;
  justify-content: center;
  align-items: center;
}

.offerts3{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 25%;
  justify-content: center;
  align-items: center;
}

.logements{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /*background: yellow;*/
}

.logements p{
  margin: 0;
}

.bot p span{
  font-weight: bold;
  font-size: 14px;
}

.last{
  width: 100%;
  margin: 0;
}

.last button{
  background: #00847E;
  padding: 3%;
  border: none;
  color: white;
  border-radius: 4%;
}

a{
  color: #575757;
  text-decoration: none;
}
