body{
  margin: 0;
  font-family: arial;
  color: #575757;
}

h1 span{
  color: #FB5C5C;
}

h1{
  font-weight: normal;
  font-size: 25px;
}

header nav, #other{
  display: none;
}

header figure{
  width: 30px;
  cursor: pointer;
}

.dropdown {
   position: relative;
   display: inline-block;
   width: 100%;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: white;
   min-width: 100%;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

.dropdown-content a {
   color: #575757;
   padding: 20px;
   text-decoration: none;
   display: block;
}

.dropdown:hover .dropdown-content {
   display: block;
}

#d{
  border-bottom: 1px lightgrey solid;
}

#t{
  border-top: 1px lightgrey solid;
}

header img{
  width: 30px;
}

input{
  height: 50px;
  padding: 15px;
  width: 100%;
}

.container{
  width: 90%;
  margin: auto;
}

h2{
  font-size: 18px;
  margin-top: 10%;
}

.bot, .bot3{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.bot2{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.dont, .bot article:nth-child(3), .bot article:nth-child(4),
.bot2 article:nth-child(2), .bot2 article:nth-child(3),
.bot3 article:nth-child(4),
.bot3 article:nth-child(5),
.bot3 article:nth-child(6){
  display: none;
}

.bot figure, .bot2 figure, .bot3 figure, .last figure{
  width: 100%;
  margin: 0;
}

.bot img, .last img, .bot2 img, .bot3 img {
  width: 100%;
}

.bot p, .bot2 p, .bot3 p{
  font-size: 12px;
}

.offerts{
  display: flex;
  flex-wrap: wrap;
  margin: 1%;
  width: 45%;
  /*justify-content: center;
  align-items: center;*/
}

.offerts3{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 25%;
  /*justify-content: center;
  align-items: center;*/
}

.logements{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /*background: yellow;*/
}

.bot p span, .logements p span{
  font-weight: bold;
  font-size: 14px;
}

.last{
  width: 100%;
  margin: 0;
}

.last button{
  background: #00847E;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 4%;
}

a{
  color: #575757;
  text-decoration: none;
}

footer{
  width: 100%;
  margin: 10px auto;
}

.foot{
  width: 100%;
  border-top: 1px lightgrey solid;
  display: flex;
  justify-content: center;
}

.foot select{
  width: 45%;
  margin: 5px;
}

.end2{
  width: 90%;
  margin: 2% auto;
  border-top: 1px lightgrey solid;
}

.dontt{
  display: none;
}

.footlg figure{
  width: 20px;
  margin: 0;
}

.footlg img{
  width: 20px;
}

.footlg p {
  margin-left: 10px;
}

.footlk figure{
  width: 20px;
  margin: 0 2%;
}

.footlk img{
  width: 20px;
}

.footlk, .footlg{
  display: flex;
  width: 100%;
  margin: 0;
  /*justify-content: space-between;*/
  align-items: baseline;
  /*justify-content: space-around;*/
}

.footlk p{
  font-size: 14px;
}

.footlk a:hover{
  text-decoration: underline;
}

.footlk p, .footlk figure{
  align-content: space-between;
}

@media (min-width: 768px) {


}
